<?xml version="1.0" encoding="UTF-8"?>
    <configuration>
        <!-- 控制台输出log信息 -->
        <appender name="LOGOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%date [%thread] %-5level %logger{35} - %message%n</pattern>
            </encoder>
        </appender>

        <!-- 按天生成日志文件 -->
        <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logInfo/app.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>logInfo/app_%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%date [%thread] %-5level %logger{35} - %message%n</pattern>
            </encoder>
        </appender>

        <root level="ERROR">
            <appender-ref ref="LOGOUT"/>
            <appender-ref ref="LOGFILE" />
        </root>

    </configuration>
