<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ngx.boot.mapper.StuBorrowMapper">


    <select id="getStuNoDistinct" resultType="com.ngx.boot.bean.StuBorrow">
        select * from stu_borrow group by stu_no
    </select>


    <select id="getAvgBorrowTimeByNo" resultType="java.lang.Double">
        select AVG(bor_time) from stu_borrow where stu_no = #{stuNo}
    </select>

</mapper>